NAMESPACE, VMNAME, CORES, MEMORY, OS
{% for resource in vm_list['resources'] -%}
{% if 'memory' in resource['spec']['template']['spec']['domain'] %}
{{ resource['metadata']['namespace']}},{{resource['metadata']['name']}},{{resource['spec']['template']['spec']['domain']['cpu']['cores']}},{{resource['spec']['template']['spec']['domain']['memory']['guest'] }},{% if 'annotations' in resource['spec']['template']['metadata'] %}{{ resource['spec']['template']['metadata']['annotations']['vm.kubevirt.io/os'] }} {%endif%}

{% endif %}
{% if 'requests' in resource['spec']['template']['spec']['domain']['resources'] %}
{{ resource['metadata']['namespace']}},{{resource['metadata']['name']}},{{resource['spec']['template']['spec']['domain']['cpu']['cores']}},{{resource['spec']['template']['spec']['domain']['resources']['requests']['memory'] }},{% if 'annotations' in resource['spec']['template']['metadata'] %}{{ resource['spec']['template']['metadata']['annotations']['vm.kubevirt.io/os'] }} {%endif%}

{% endif %}

{%- endfor %}
